

#landing {
	background-image: url(https://images.pexels.com/photos/207153/pexels-photo-207153.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Bebas Neue', cursive;
}




#navbar-brand {
	color: #E8E7DA;
	font-weight: bold;
	font-size: 2rem;
}






#welcome-video {
	control:  autoplay;
	control:  loop;
	height: 50vh;
}

#webdesign-video {
	padding-bottom: 15vh;
}





#webdeveloper {
	color: #FECB10;
	text-transform: uppercase;
	font-size: 70px; 
	font-weight: bold;
	padding-top: 30vh;
}





#paragraph1 {
	letter-spacing: 6px;
	font-weight: bold;
	color: #E8E7DA;
	font-size: 20px;
}











#visitus {
	color: #E8E7DA;
	align-content: center;
	grid-column-end: ;
	cen
}


.row {
	color: #E8E7DA;
}
.form-group {
	color: #E8E7DA;
}





#gmap {
	padding-left: 10vh;
}






#footer {
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #03013d;
	font-family: bebas neue; cursive;
}






#button {
	background-color: #E8E7DA;
}






/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #4D4884;
}

.facebook {
  background: #03013d;
  color: black;
}


.google {
  background: #03013d;
  color: black;
}

.linkedin {
  background: #03013d;
  color: black;
}

.youtube {
  background: #03013d;
  color: black;
}